# Laboratorio 2 - Práctica 1.
### Gonzalo de las Heras de Matías - Jorge de la Fuente Tagarro
## Reglas de asociación

![title](Images/img.jpg)

### Objetivo 

Crear una “librería” que nos permita solucionar todos los problemas relacionados con las reglas de asociación.
Para ello tendremos que implementar el algoritmo Apriori y una serie de métodos para obtener la distinta
información que este genera.

#### Librerias

In [1]:
from Apriori import APriori
import warnings
import pandas as pd
import numpy as np
warnings.filterwarnings('ignore')

<font color="blue">Antes de ejecutar el algoritmo apriori con el dataset de películas, probaremos la librería con 2 datasets de prueba, uno estableciendo una frecuencia de soporte mínima y otro con un soporte mínimo, para comprobar el correcto funcionamiento de la librería.</font>

## Dataset dummy 1
<br>
<font color="blue">Establecemos una frecuencia soporte mínima de 2 y una confianza del 10% para poder ver muchas reglas.</font>

In [2]:
algoritmo = APriori()
algoritmo.ExcelPrueba(Fichero="Datos/dummy_1.xlsx")
algoritmo.CalcularReglasDeConfianza(MinimoFreqSop=2, Confianza=10, Echo=True)

Iniciando algoritmo apriori para patrones de asociación...

-------

Probando k = 1

   Item  Frec. Soporte   Soporte
0  [I1]              6  0.666667
1  [I2]              7  0.777778
2  [I3]              6  0.666667
3  [I4]              2  0.222222
4  [I5]              2  0.222222

-------

Probando k = 2
Calculando combinaciones
Calculando Frec.Soporte
Calculando Soporte
Filtrando Frec. Soporte mínimo >= 2

       Item  Frec. Soporte   Soporte
0  [I1, I2]              4  0.444444
1  [I1, I3]              4  0.444444
2  [I1, I5]              2  0.222222
3  [I2, I3]              4  0.444444
4  [I2, I4]              2  0.222222
5  [I2, I5]              2  0.222222

-------

Probando k = 3
Calculando combinaciones
Calculando Frec.Soporte
Calculando Soporte
Filtrando Frec. Soporte mínimo >= 2

           Item  Frec. Soporte   Soporte
0  [I1, I2, I3]              2  0.222222
1  [I1, I2, I5]              2  0.222222

-------

Probando k = 4
Calculando combinaciones
Calculando Frec.Soporte
Calculando Soporte
Filtrando Frec. Soporte mínimo >= 2
Terminado

-------

Reglas de asociación:

         r_1       r_2  soporte_r_1  soporte_r_2  confianza
0   [I1, I5]      [I2]            2            2      100.0
1   [I2, I5]      [I1]            2            2      100.0
2       [I5]  [I1, I2]            2            2      100.0
3   [I1, I2]      [I3]            2            4       50.0
4   [I1, I2]      [I5]            2            4       50.0
5   [I1, I3]      [I2]            2            4       50.0
6   [I2, I3]      [I1]            2            4       50.0
7       [I1]  [I2, I3]            2            6       33.0
8       [I1]  [I2, I5]            2            6       33.0
9       [I3]  [I1, I2]            2            6       33.0
10      [I2]  [I1, I3]            2            7       29.0
11      [I2]  [I1, I5]            2            7       29.0

<font color="blue">Observamos 3 reglas con una confianza del 100%, es decir, que se cumplen siempre:
<ul>
    <li>I1, I5 → I2</li>
    <li>I2, I5 → I1</li>
    <li>I5 → I2, I2</li>
</ul>
    Son unas reglas muy buenas.
</font>

## Dataset dummy 2
<br>
<font color="blue">Establecemos un soporte mínimo de 0.6 y una confianza del 50%.</font>

In [3]:
algoritmo = APriori()
algoritmo.ExcelPrueba(Fichero="Datos/dummy_2.xlsx")
algoritmo.CalcularReglasDeConfianza(MinimoSoporte=0.6, Confianza=50, Echo=False)

Iniciando algoritmo apriori para patrones de asociación...

-------

Probando k = 1

        Item  Frec. Soporte  Soporte
0      [Pan]              4      0.8
2  [cerveza]              3      0.6
4    [leche]              4      0.8
5  [pañales]              5      1.0

-------

Probando k = 2
Calculando combinaciones
Calculando Frec.Soporte
Calculando Soporte
Filtrando Soporte mínimo >= 0.6

                 Item  Frec. Soporte  Soporte
0        [Pan, leche]              3      0.6
1      [Pan, pañales]              4      0.8
2  [cerveza, pañales]              3      0.6
3    [leche, pañales]              4      0.8

-------

Probando k = 3
Calculando combinaciones
Calculando Frec.Soporte
Calculando Soporte
Filtrando Soporte mínimo >= 0.6

                    Item  Frec. Soporte  Soporte
0  [Pan, leche, pañales]              3      0.6

-------

Probando k = 4
Calculando combinaciones
Calculando Frec.Soporte
Calculando Soporte
Filtrando Soporte mínimo >= 0.6
Terminado

-------

Reglas de asociación:

                r_1               r_2  soporte_r_1  soporte_r_2  confianza
0      [Pan, leche]         [pañales]            3            3      100.0
1             [Pan]  [leche, pañales]            3            4       75.0
2    [Pan, pañales]           [leche]            3            4       75.0
3           [leche]    [Pan, pañales]            3            4       75.0
4  [leche, pañales]             [Pan]            3            4       75.0
5         [pañales]      [Pan, leche]            3            5       60.0

<font color="blue">Observamos 1 regla con una confianza del 100%, es decir, que se cumple siempre y varias del 75% que también son bastante buenas:
<ul>
    <li>Pan, leche → pañales 100%, se cumple siempre.</li>
    <li>Pan → leche, pañales 75%</li>
    <li>Pan, pañales → leche 75%</li>
    <li>leche → Pan, pañales 75%</li>
    <li>leche, pañales → Pan 75%</li>
</ul>
</font>

## Dataset películas
<br>
<font color="blue">Primero tenemos que preparar el dataset para que sea admitido por la librería de Apriori.</font>

In [4]:
Dataframe = pd.read_csv("Datos/movies_dataset.csv")
df_generos = pd.DataFrame()
df_generos["generos"] = Dataframe['genres']
df_generos["generos"] = df_generos['generos'].apply(lambda x: np.array(x.split('|')))
print("Hay", len(df_generos), "tuplas.")

Hay 5043 tuplas.

In [5]:
algoritmo_2 = APriori()
algoritmo_2.Carga(Datos=df_generos, Columna="generos")
algoritmo_2.CalcularReglasDeConfianza(MinimoFreqSop=60, Confianza=80.0, Echo=True)

Iniciando algoritmo apriori para patrones de asociación...

-------

Probando k = 1

             Item  Frec. Soporte   Soporte
0        [Action]           1153  0.228634
1     [Adventure]            923  0.183026
2     [Animation]            242  0.047987
3     [Biography]            293  0.058100
4        [Comedy]           1872  0.371208
5         [Crime]            889  0.176284
6   [Documentary]            121  0.023994
7         [Drama]           2594  0.514376
8        [Family]            546  0.108269
9       [Fantasy]            610  0.120960
12      [History]            207  0.041047
13       [Horror]            565  0.112036
14        [Music]            214  0.042435
15      [Musical]            132  0.026175
16      [Mystery]            500  0.099147
19      [Romance]           1107  0.219512
20       [Sci-Fi]            616  0.122150
22        [Sport]            182  0.036090
23     [Thriller]           1411  0.279794
24          [War]            213  0.042237
25      [Western]             97  0.019235

-------

Probando k = 2
Calculando combinaciones
Calculando Frec.Soporte
Calculando Soporte
Filtrando Frec. Soporte mínimo >= 60

                  Item  Frec. Soporte   Soporte
0  [Action, Adventure]            470  0.093198
1     [Action, Comedy]            255  0.050565
2      [Action, Crime]            328  0.065041
3      [Action, Drama]            345  0.068412
4     [Action, Family]             81  0.016062
5    [Action, Fantasy]            177  0.035098
6     [Action, Horror]             88  0.017450
7    [Action, Mystery]             84  0.016657
8    [Action, Romance]            104  0.020623
9     [Action, Sci-Fi]            336  0.066627

-------

Probando k = 3
Calculando combinaciones
Calculando Frec.Soporte
Calculando Soporte
Filtrando Frec. Soporte mínimo >= 60

                            Item  Frec. Soporte   Soporte
0    [Action, Adventure, Comedy]             94  0.018640
1     [Action, Adventure, Drama]             87  0.017252
2    [Action, Adventure, Family]             63  0.012493
3   [Action, Adventure, Fantasy]            118  0.023399
4    [Action, Adventure, Sci-Fi]            193  0.038271
5  [Action, Adventure, Thriller]            175  0.034702
6        [Action, Comedy, Crime]             88  0.017450
7       [Action, Comedy, Sci-Fi]             60  0.011898
8     [Action, Comedy, Thriller]             64  0.012691
9         [Action, Crime, Drama]            134  0.026571

-------

Probando k = 4
Calculando combinaciones
Calculando Frec.Soporte
Calculando Soporte
Filtrando Frec. Soporte mínimo >= 60

                                      Item  Frec. Soporte   Soporte
0    [Action, Adventure, Sci-Fi, Thriller]             66  0.013087
1         [Action, Crime, Drama, Thriller]            117  0.023200
2   [Adventure, Animation, Comedy, Family]            113  0.022407
3  [Adventure, Animation, Comedy, Fantasy]             60  0.011898
4  [Adventure, Animation, Family, Fantasy]             76  0.015070
5     [Adventure, Comedy, Family, Fantasy]             84  0.016657
6     [Animation, Comedy, Family, Fantasy]             70  0.013881
7        [Crime, Drama, Mystery, Thriller]             92  0.018243

-------

Probando k = 5
Calculando combinaciones
Calculando Frec.Soporte
Calculando Soporte
Filtrando Frec. Soporte mínimo >= 60
Terminado

-------

Reglas de asociación:

,r_1,r_2,soporte_r_1,soporte_r_2,confianza
0,"[Adventure, Animation, Comedy]",[Family],113,122,93.0
1,"[Animation, Comedy, Fantasy]",[Family],70,78,90.0
2,"[Action, Crime, Drama]",[Thriller],117,134,87.0
3,"[Adventure, Animation, Fantasy]",[Family],76,87,87.0
4,"[Adventure, Sci-Fi, Thriller]",[Action],66,79,84.0
5,"[Crime, Drama, Mystery]",[Thriller],92,110,84.0

<font color="blue">Tras varias ejecuciones del algoritmo con distintos valores mínimos de frecuencia soporte, escogemos 60. Esto se debe a que si es más bajo, las reglas obtenidas son muy largas y el valor de sus confianzas tienen mucho parecido al resultado final, haciendo que no merezca la pena. En cambio, si es más alto, obtenemos muy pocas reglas que son muy cortas y dan poca información. La confianza se establece en un 80% para obtener solo reglas de mucha calidad. 
<br><br>
Observando las reglas, nos damos cuenta de que tienen relación con la realidad (es decir, son válidos). Por ejemplo: Adventure, Animation, Comedy → Family tiene sentido, al igual que Action, Crime, Drama → Thriller. 
<br><br>
Hemos encontrado buenas reglas.
</font>